/*!
 * WayFu - Easy Follow Up v3.7.x (https://wab.anggunsetya.com/)
 * Copyright 2018-2021 The WayFu - Easy Follow Up Developer
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

/*--------------------------------------------------------------
# Panel v1.3.xx Stye
--------------------------------------------------------------*/
#wayfuPanel {
  z-index: 0;
  display: 'block';
  justify-content: 'flex-start';
  background-color: 'var(--butterbar-connection-background)';
  height: 'auto';
  padding: 0px;
}

#wbHead {
  padding: 5px 16px;
  background: var(--panel-header-background);
  border-top: 1px solid var(--border-strong);
}

#wbHead>span {
  display: inline-block;
}

#wbBody {
  padding: 0px 16px;
  height: 0;
  border-bottom: 1px solid var(--border-strong);
  color: var(--butterbar-connection-secondary);
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

img.appIco {
  height: 32px;
  width: 32px;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

span.active {
  transform: rotate(-90deg);
  opacity: 1 !important;
}

span.rightIco {
  float: right;
  vertical-align: middle;
  padding: 7px;
  border-radius: 50%;
  color: rgb(0, 155, 76);
  opacity: 0.5;
  transition: transform 0.2s ease-in-out;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

textarea#message {
  height: 145px;
  background-color: var(--compose-input-background);
  color: var(--primary);
  font-size: 14px;
}

textarea#capt {
  border-color: rgb(0, 0, 0, 0.1);
  background: rgb(0, 0, 0, 0.05);
  color: white;
}

textarea#capt::-webkit-input-placeholder {
  font-size: 90%;
  color: white;
}

textarea#capt:disabled {
  background: rgb(0, 0, 0, 0.15);
}

textarea#capt:disabled::-webkit-input-placeholder {
  color: #eee;
}

input.checks {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  float: left;
  display: block;
  top: 1px;
  margin-right: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.25em;
  height: 1.5em;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  border-radius: 1.5em;
}

.slider:before {
  position: absolute;
  content: "M";
  left: 0.25em;
  width: 1em;
  height: 1em;
  bottom: 0.25em;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  font-size: 0.725em;
  padding: 0.275em;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

input:checked+.slider {
  background-color: rgb(51, 153, 204);
}

input:checked+.slider:before {
  transform: translateX(1em);
  content: "A";
  color: rgb(51, 153, 204);
}

#c_bc,
#i_mg {
  margin-top: 2px;
  background: rgb(0, 0, 0, 0.05);
  padding: 5px;
}

#c_bc {
  display: none;
  animation: fadeEffect 0.3s;
}

#tabs {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.tabcontent {
  padding: 5px;
  display: none;
  animation: fadeEffect 0.5s;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.row .oriflame {
  display: none;
}

.row:first-child {
  padding-top: 3px;
}

.row:not(:last-child) {
  border-bottom: 2px #888 solid;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.row:last-child {
  padding-bottom: 3px;
}

#_SET .lbl {
  width: 40%;
}

#_SET .inp {
  width: 60%;
}

#_SET .lbl>*,
#_SET .inp>* {
  vertical-align: middle;
  text-transform: capitalize;
  font-size: .875em;
}

#_SET .bpSlider {
  -webkit-appearance: none;
  width: 80%;
  height: .25em;
  border-radius: 4px;
  background-color: var(--compose-input-background);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

#_SET .bpSlider:hover {
  opacity: 1;
}

#_SET .bpSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #009b4c;
  cursor: pointer;
}

#_SET .bpSlider::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #009b4c;
  cursor: pointer;
}

#_SET .wab-module_options {
  font-weight: 400;
  margin-left: 1.8em;
}

#_SET .badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

#_SET .badge.beta {
  padding: .25em .5em;
  font-size: .5em;
  background-color: #dc3545 !important;
  border-radius: 50rem !important;
  vertical-align: top;
  font-weight: normal;
  text-transform: uppercase;
}

#_SET .oriflame {
  display: none;
}

#_SET input[type="checkbox"].checks {
  width: 1.25em;
  height: 1.5em;
  top: 0 !important;
  margin-right: 5px;
}

output.baseline {
  vertical-align: baseline !important;
}

#tabs button {
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}

#tabs button.pnl {
  width: 45%;
}

#tabs button.set {
  width: 10%;
}

#tabs button.set svg {
  animation: spin linear infinite 5s;
  margin: 0 auto;
}

#tabs button:hover,
#tabs button.active,
.tabcontent {
  background: rgb(255, 255, 255, 0.35);
}

.immg {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 87.38px;
  overflow-y: scroll;
  padding: 0px;
}

.immg img {
  max-width: 97%;
  width: auto;
  margin: auto;
  display: block;
}

.wb-opts {
  padding: 0 10px;
  height: 146px;
  overflow-y: scroll;
}

#fileOk {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 5px 2.5px;
  display: none;
  border-radius: 10px;
}

#fileOk,
#numbDat,
.fileChecks {
  vertical-align: middle;
}

#waProgress,
#waBar {
  height: 3px;
  border-radius: 3px;
}

#waProgress {
  width: 100%;
  background-color: var(--compose-input-background);
  margin: 4px 0;
  display: block;
}

#waBar {
  width: 0;
  background-color: rgb(0, 155, 76);
}

#numbDat {
  margin-left: 2.5px;
  font-weight: 600;
}

.fileChecks {
  float: none;
  display: inline-block;
  color: rgb(0, 155, 76);
}

.credit-icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  vertical-align: -0.125em;
  padding: 0 1px;
}

.btn-sc {
  float: right;
}

.btn-sc a {
  color: #000;
}

.icon-facebook a:hover {
  color: #4267b0;
}

.icon-twitter a:hover {
  color: #20a0ef;
}

.icon-instagram a:hover {
  color: #da524b;
}

.icon-whatsapp a:hover {
  color: #02c046;
}

.icon-telegram a:hover {
  color: #0088CC;
}

span.vInfo {
  font-size: xx-small;
  float: right;
  padding-bottom: 5px;
}

.wb-cred {
  margin: 5px auto;
  text-align: left;
  background: rgb(0, 0, 0, 0.07);
  padding: 5px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Selector */

.select {
  position: relative;
  min-width: 200px;
}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 1px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  padding: 3px 40px 3px 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--panel-background);
  color: var(--primary-stronger);
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: var(--secondary);
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover+svg {
  stroke: #07f;
}

/* Modal */

.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.wfu-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(182, 182, 182, .5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 9999;
}

.wfu-modal.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.wfu-modal-container {
  font-family: "Lato", sans-serif;
  color: #888;
  position: relative;
  width: 33.33%;
  max-width: 400px;
  margin: .4em auto;
  background: #fff;
  border: #f2f2f2 solid 1px;
  border-radius: 0.25em;
  text-align: left;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.wfu-modal-container.progress-panel {
  max-width: unset;
}

.progress-panel span.curPhone {
  font-weight: bold;
}

.progress-panel .waProgress,
.progress-panel .waBar {
  height: 1em;
  border-radius: .5em;
}

.progress-panel .waProgress {
  width: 90%;
  margin: .75em auto 0;
  background-color: var(--compose-input-background);
  display: block;
}

.progress-panel .waBar {
  width: 0;
  background-color: rgb(0, 155, 76);
}

.wfu-modal-container:first-of-type {
  margin-top: 1.5em;
}

.wfu-modal-container h2,
.wfu-modal-container p,
.wfu-modal-container ul.wfu-reports,
.wfu-modal-container div.wfu-changelog {
  margin: 0 auto;
  width: 90%;
}

.wfu-modal-container h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 0;
  border-bottom: 1px #b6bece solid;
}

.wfu-modal-container p {
  font-size: .9em;
  padding: 1em 0;
}

.wfu-modal-container .wfu-changelog,
.wfu-modal-container ul.wfu-reports {
  padding: 1em 0;
}

.wfu-changelog .wfu-changelog-items {
  margin: .25em 0;
}

.wfu-changelog .wfu-changelog-items:first-of-type {
  margin-top: 0;
}

.wfu-changelog .wfu-changelog-items:last-of-type {
  margin-bottom: 0;
}

.wfu-changelog .wfu-changelog-items span {
  font-weight: bold;
  font-size: .9em;
}

.wfu-changelog .wfu-changelog-items ul {
  margin-top: .2em;
}

.wfu-changelog-items ul li ul {
  margin-left: 1.25rem;
}

.wfu-changelog .wfu-changelog-items ul li,
.wfu-modal-container .wfu-reports li {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}

.wfu-changelog .wfu-changelog-items ul li {
  font-size: .85em;
  margin: 0.05em 0;

}

.wfu-modal-container .wfu-reports {
  font-size: .9em;
  font-weight: bold;
}

.wfu-modal-container .wfu-reports li {
  margin: .2em 0;
}

.wfu-modal-container .wfu-buttons {
  padding: 0;
  text-align: center;
}

.wfu-modal-container .wfu-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.wfu-modal-container .wfu-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}

.wfu-modal-container .wfu-buttons a {
  display: block;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.wfu-modal-container .wfu-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 0.25em;
}

.wfu-modal-container .wfu-buttons li:first-child a:hover {
  background-color: #fc8982;
}

.wfu-modal-container .wfu-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 0.25em 0;
}

.wfu-modal-container .wfu-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}

.wfu-modal-container .wfu-btn-close {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 30px;
  height: 30px;
}

.wfu-modal-container .wfu-btn-close::before,
.wfu-modal-container .wfu-btn-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #888;
}

.wfu-modal-container .wfu-btn-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.wfu-modal-container .wfu-btn-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .wfu-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/
body.dark .row:not(:last-child) {
  border-color: #555;
}

body.dark #tabs button:hover,
body.dark #tabs button.active,
body.dark .tabcontent {
  background: rgb(0, 0, 0, 0.05);
}

body.dark #_SET .bpSlider::-webkit-slider-thumb,
body.dark #_SET .bpSlider::-moz-range-thumb,
body.dark #waBar,
body.dark .select select {
  background-color: white;
}

body.dark #wayfu-modal {
  background-color: rgba(74, 74, 74, .5);
}

body.dark #wayfu-modal .wfu-modal-container {
  background: #4a4a4a;
  border: #2a2a2a solid 1px;
  color: #fff;
}

body.dark .wfu-modal-container .wfu-btn-close::after,
body.dark .wfu-modal-container .wfu-btn-close::before {
  background-color: #fff;
}

body.dark .select svg {
  stroke: white;
}