<div id='wbHead'>
    <span id='changeLog' title='Lihat Change Log'>
        <img class='appIco' src='https://wab.anggunsetya.com/files/assets/icon.png'/>WhatsApp Blast VERSION
    </span>
    <span id='toggleApp' value='wbBody' title='Buka/Tutup Tools' class='rightIco'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='28' height='28'>
            <path fill='currentColor' d='M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z'></path>
        </svg>
    </span>
</div>
<div id='wbBody'>
    <div id='tabs'>
        <button class='tablinks pnl' value='_MSG' title='Pesan'>Pesan</button>
        <button class='tablinks pnl' value='_IMG' title='Lampiran Gambar'>Gambar</button>
        <button class='tablinks set' value='_SET' title='Opsi'>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width='18' height='18'>
                <path fill="currentColor" d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path>
            </svg>
        </button>
    </div>
    <div id='_MSG' class='tabcontent'>
        <textarea rows='9' id='message' class='copyable-text selectable-text' placeholder='Message Here!'></textarea>
    </div>
    <div id='_IMG' class='tabcontent'>
        <div id='i_mg'>
            <input type='checkbox' id='s_mg' class='checks trig premium' name='s_mg' value='getImg' capt-id='capt' title='Attach Image?'>
            <input type='file' accept='image/*' id='getImg' name='images' style='width:200px;cursor:pointer;' disabled>
            <div id='del' data-icon='close' class='img icon icon-del' data-value='getImg' title='Delete Image' style='float:right;cursor:pointer;display:none'>
                <svg width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'>
                    <path opacity='.4' d='M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z'></path>
                </svg>
            </div>
        </div>
        <div class='content immg'><img id='o_img'/></div>
        <textarea id='capt' rows='1' class='copyable-text selectable-text' placeholder='Caption Here!' disabled></textarea>
    </div>
    <div id='_SET' class='tabcontent'>
        <div class="wb-opts">
            <div class="row">
                <div class="lbl"><label for="wabColor">Warna Panel</label></div>
                <div class="inp">
                    <label class="select" for="wabColor">
                        <select id="wabColor">
                            <option value="var(--butterbar-connection-background)">Bawaan</option>
                        </select>
                        <svg viewBox="0 0 10 6" xmlns='http://www.w3.org/2000/svg'>
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="lbl"><label for="wabTbp">Target BP</label></div>
                <div class="inp">
                    <input type='range' class='bpSlider' id='wabTbp' name='wabTbp' min='100' max='300' step='5' value='100'>
                    <output for="wabTbp"></output>
                </div>
            </div>
            <div class="row">
                <div class="lbl"><label for="wabDate">Format Tanggal</label></div>
                <div class="inp">
                    <label class="select" for="wabDate">
                        <select id="wabDate">
                            <option value="auto">Deteksi Otomatis</option>
                            <option value="0">MM/DD/YYYY</option>
                            <option value="1">DD/MM/YYYY</option>
                            <option value="2">YYYY/MM/DD</option>
                        </select>
                        <svg viewBox="0 0 10 6" xmlns='http://www.w3.org/2000/svg'>
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="row" style="display: none;">
                <div class="lbl"><label for="wabCaption">Caption</label></div>
                <div class="inp">
                    <label class="select" for="wabCaption" disabled>
                        <select id="wabCaption" >
                            <option value="caption">Caption</option>
                            <option value="pesan">Pesan</option>
                        </select>
                        <svg viewBox="0 0 10 6" xmlns='http://www.w3.org/2000/svg'>
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="lbl"><label for="maxQueue">Jumlah Penerima</label></div>
                <div class="inp">
                    <input type='range' class='bpSlider' id='maxQueue' name='maxQueue' min='100' max='200' step='10' value='100'>
                    <output for="maxQueue"></output>
                </div>
            </div>
        </div>
    </div>
    <div id="waProgress"><div id="waBar"></div></div>
    <div style='margin-top: 5px;'>
        <label class="switch">
            <input type="checkbox" name="automatic" id="auto" value="Auto" class="premium">
            <span class="slider" title="Blast Automatic?"></span>
        </label>
        <input type='file' accept='.csv,.txt' id='getFile' name='files' style='width:180px;cursor:pointer;'>
        <div id='fileOk' data-icon='checks' class='img icon icon-ok' title='File OK!'>
            <span id='numbDat'></span>
            <span class='fileChecks'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14" height="14">
                    <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" opacity=".6"></path>
                </svg>
            </span>
        </div>
        <div id='blast' data-icon='send' class='img icon icon-send' title='BLAST!' style='float:right;cursor:pointer;'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='24' height='24'>
                <path id='blastIc' opacity='.4' d='M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z'></path>
            </svg>
        </div>
    </div>
    <div class='wb-cred'>&copy; Rizal Nurhidayat
        <div class='btn-sc'>
            <span id='sc-facebook' data-icon='facebook' class='img icon credit-icon icon-facebook' title='Rizal Nurhidayat'>
                <a href='https://web.facebook.com/rzlnhd' target='_blank'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' width='16' height='16'>
                    <path opacity='.4' fill='currentColor' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'></path>
                </svg>
                </a>
            </span>
            <span id='sc-twitter' data-icon='twitter' class='img icon credit-icon icon-twitter' title='Rizal Nurhidayat'>
                <a href='https://mobile.twitter.com/rzlnhd' target='_blank'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' height='16'>
                    <path opacity='.4' fill='currentColor' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'></path>
                </svg>
                </a>
            </span>
            <span id='sc-instagram' data-icon='instagram' class='img icon credit-icon icon-instagram' title='WayFu.id'>
                <a href='https://www.instagram.com/wayfu.id/' target='_blank'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='16' height='16'>
                    <path opacity='.4' fill='currentColor' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'></path>
                </svg>
                </a>
            </span>
            <span id='sc-whatsapp' data-icon='whatsapp' class='img icon credit-icon icon-whatsapp' title='Rizal Nurhidayat'>
                <a href='https://api.whatsapp.com/send?phone=6285726467611'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='16' height='16'>
                    <path opacity='.4' fill='currentColor' d='M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z'></path>
                </svg>
                </a>
            </span>
        </div>
    </div>
    <div>
        <span class="backLink"><a href="#"></a></span>
        <span class="vInfo">Panel Version: <strong>1.2.02</strong></span>
    </div>
</div>